@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #FA4D05;
    --secondary-color: #333;
    --tertiary-color: #fff;
    --success-color: #97FD87;
    --fail-color: #FF5555;
    --bg-color: #E5E5E5;
    --font-color: #808080;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    line-height: 2;
    color: var(--primary-color);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

nav {
    display: flex;
    background-color: var(--secondary-color);
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding-left: 5rem;
    /* color: var(--primary-color); */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

main h1 {
    margin-bottom: 1rem;
}

.btn {
    background-color: var(--primary-color);
    border: none;
    padding: .5rem 1rem;
    min-width: 200px;
    color: var(--tertiary-color);
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    cursor: pointer;
}


.add-point {
    background-color: var(--bg-color);
    color: var(--font-color);
    margin: 1rem 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.save {
    background-color: var(--success-color);
}

